.content {
	width: 660px;
	margin: 40px auto;
	padding: 30px;
    border: solid 2px #333333;
	background: white;
}

#preform {
	height: 170px;
}
#freeform {
}

#paperlist {
	list-style:none;
}

#paperlist li {
	float: left;
	height: 80px;
	width: 150px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	box-shadow: -5px 5px 5px #888;
	cursor: pointer;
}

#paperlist li img {
	max-height: 100;
	max-width: 100;
	vertical-align: middle;
}

#paperlist #cnn {
	background-color: #CA0002;
}

#paperlist #fox {
	background-color: #002465;
}

#paperlist #nytimes {
	background-color: #ffffff;
}

#paperlist #cnn img {
	margin-top: 8px;
}

#paperlist #fox img {
	margin-top: ;
}

#paperlist #nytimes img {
	margin-top: 30px;
}

.hackpub-top-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  background: rgba(0, 0, 0, 1);
  color: white;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 2000000000;
  height: 150px;
  border-bottom: 1px solid #666666;
}

#newsjack-logo {
	float: left;
}

#newsjack-logo img {
	height: 150px;
}

#newsjack-logo .desc {
	font-size: 24px;
}

.hackpub-top-bar h1 {
	color: #AFF;
	font-weight: bold;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.hackpub-top-bar a {
  color: white;
}